
* li{
    list-style: none;
}
nav{
    height: 3.5rem;
    background: red;
    position: sticky;
    width: 100%;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: right;
}
nav ul li{
    display: flex;
    width: 100%;
    align-items: right;
    list-style: none;
    justify-content: space-evenly;
}
.sidebar{
    background: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
}
.sidebar ul{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}
#main-content{
    background: green;
    display: flex;
    flex-direction: column;
    align-items: right;
}
.scrollable-content{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: space-evenly
}
.intro{
    display: flex;
    flex-direction: row;
}
#projects{
    background: pink;
    width: 100%;
}
.greeting-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: purple;
}
.greeting-content h1{
    display: flex;
    align-self: center;
    background: green;
}
.scroll-card{
    margin-left: 5rem;
    margin-right: 20rem;
    background: blue;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#headshot{
    height: 15rem;
    width: 15rem;
}
.sidebar{
    display: flex;
    align-items: right;
    justify-content: flex-end;
}
.my-greeting{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
#projects .scroll-card{
    width: 100%;
    margin: 1rem;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
}
.subbox-container{
    height: 10rem;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subbox{
    width: 100%;
    border: 2px solid black;
}